@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  height 100%
  overflow-y: auto
@media screen and (max-width: 321px) {
  body {
    font-size:16px
  }
}

@media screen and (min-width: 321px) and (max-width:400px) {
  body {
    font-size:17px
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size:19px
  }
}
.van-dialog__content
  height 1.8rem
.van-dialog__message
  height 1.8rem
  line-height 1.8rem!important
  font-size 15px!important
  color #333333!important
  padding 0!important
.van-dialog .van-button
  height .8rem
  line-height .8rem
  font-size 15px!important
.van-dialog__confirm, .van-dialog__confirm:active
  background-color #067eea
  color #fff!important
#develop_class
  .van-field__body
    height .66rem
  .van-field__left-icon
    height .66rem
    display flex
    align-items center
#consent-form
  .van-field__body
    height .64rem
  .van-field__right-icon
    height .64rem
    display flex
    align-items center
  .van-checkbox__icon--checked .van-icon
    background-color $color-font-red
    border-color $color-font-red
#patient-info
  .van-step--horizontal .van-step__circle-container
    padding 0
  .van-step__circle
    border 3px solid $color-font-grey-new
    background-color $color-background!important
  .van-icon-checked:before
    content ''
    display block
    width 5px
    height 5px
    background-color #fff
    border-radius 50%
    border 3px solid $color-font-red
  .van-step--finish .van-step__circle, .van-step--finish .van-step__line
    background-color $color-font-red
  .van-steps--horizontal
    padding 0 10px 0 10px
  .van-steps
    width 100%
  .van-step__title
    font-size 12px
    color $color-font-grey-new
  .van-radio-group
    display flex
  .van-radio:last-of-type
    margin-left .75rem
  .van-field__body
    height .64rem
  .van-field__right-icon
    height .64rem
    display flex
    align-items center
  #hasCancer
    display flex
    justify-content space-between
  //  background-color  $color-font-red
  //  border-color $color-font-red
