@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  height 100%
  overflow-y: auto
@media screen and (max-width: 321px) {
  body {
    font-size:16px
  }
}

@media screen and (min-width: 321px) and (max-width:400px) {
  body {
    font-size:17px
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size:19px
  }
}
.van-dialog__content
  height 1.8rem
.van-dialog__message
  height 1.8rem
  line-height 1.8rem!important
  font-size 15px!important
  color #333333!important
  padding 0!important
.van-dialog .van-button
  height .8rem
  line-height .8rem
  font-size 15px!important
.van-dialog__confirm, .van-dialog__confirm:active
  background-color #067eea
  color #fff!important
#phy_visit
  .van-uploader__upload
    margin 0
    width 1.54rem
    height 1.54rem
    background-color: #ededed;
    border: none;
  .van-uploader__upload-icon
    height .56rem
    width .56rem
    text-align center
    line-height .56rem
#edit-info
  .van-uploader
    position absolute
    right .3rem
  .van-uploader__upload
    margin 0
    width 1.2rem
    height 1.2rem
    background-color: #fff;
    border: none;
    opacity 0
    z-index 20
  .van-uploader__preview
    position absolute
    right 0
    margin 0
  .van-uploader__preview-image
    height 1.2rem
    width 1.2rem
    border-radius inherit!important
  .van-icon, .van-icon::before
    display none
  .van-cell:not(:last-child)::after
    display none
  .van-field__control
    text-align right
    padding-right .2rem
.discribeIll
  .van-field__control
    height 2.5rem
#patient_index
  .van-tabs--line .van-tabs__wrap
    height .9rem
    font-size 15px
  .van-tabs__line
    background-color  rgb(6, 126, 234)
#find_doc
  .van-field__body
    height .66rem
  .van-field__right-icon
    height .66rem
    display flex
    align-items center
#stay-pay,#my-visit,#visit-list
  .van-field__body
    height .66rem
  .van-field__right-icon
    height .66rem
    display flex
    align-items center
#visit-detail
  .van-icon, .van-icon::before
    display none
.van-radio__icon .van-icon
  border 1px solid #067eea
.van-list__error-text, .van-list__finished-text, .van-list__loading
  background-color $color-background-grey
